.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  font-size: 20px;
}

form {
  margin: 100px 0;
}

label {
  font-size: 18px;
}

input[type=text],
input[type=submit] {
  font-size: 18px;
  padding: 10px 20px;
}

input[type=text] {
  width: 30%;
}

.dark-mode {
  background-color: #222;
}

.dark-mode>.container {
  background-color: violet;
}
